body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

button {
  cursor: pointer;
  margin-bottom: 8px;
}

textarea {
  min-width: 300px;
  min-height: 120px;
}